nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;

    & a{
        font-size: 1.2rem;
        color: var(--navLink);
        transition: 0.5s;
        &.active{
            color: var(--navLinkActive);
            font-weight: bold;
        }
        &:hover{
            color: var(--navLinkHover);
        }
    }
}