footer {
  background: var(--bgFooter);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 10rem;

  & .logo {
    font-size: 1.5rem;
    color: var(--colorLogo);
  }

  & .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    & a {
      color: var(--bgBtn);
      transition: 0.2s;
      &.active {
        color: var(--bgBtnActive);
      }
      &:hover {
        color: var(--bgBtnHover);
      }
    }
  }
}
